<div class="container">
    <div class="section">
        <img src="../../assets/svg/taskbar/house.svg" alt="Home">
        <div class="section-name-active">Home</div>
    </div>
    <div class="section">
        <img src="../../assets/svg/taskbar/heart.svg" alt="Rules">
        <div class="section-name">Rules</div>
    </div>
    <div class="section" style="top:10px">
        <img src="../../assets/svg/taskbar/oval.svg" alt="Add">
        <img style="position: relative;
        top: -44px;" src="../../assets/svg/taskbar/add.svg" alt="Add">
    </div>
    <div class="section">
        <img src="../../assets/svg/taskbar/book.svg" alt="Guide">
        <div class="section-name">Guide</div>
    </div>
    <div class="section">
        <img src="../../assets/svg/taskbar/settings.svg" alt="Settings">
        <div class="section-name">Settings</div>
    </div>
</div>