.grid-view {
    .device-group {
        list-style-type: none !important;
        display: flex;
        padding-inline-start: 0px;
        overflow: auto;
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
    .device-group::-webkit-scrollbar {
        display: none;
    }
    .device-tile {
        width: 125px;
        height: 125px;
        border-radius: 12px;
        border-style: solid;
        border-width: 1px;
        border-image-source: linear-gradient(44deg, #05bdff 4%, #37ff96 136%);
        border-image-slice: 1;
        background-image: linear-gradient(to bottom, #ffffff, #ffffff), linear-gradient(44deg, #05bdff 4%, #37ff96 136%);
        background-origin: border-box;
        background-clip: content-box, border-box;
        position: relative;
        margin-right: 16px;
    }
    .device-tile-add {
        width: 125px;
        height: 125px;
        border-radius: 12px;
        border: 2px dashed #c3c3c3;
        position: relative;
        margin-right: 16px;
        text-align: center;
        font-size: 12px;
        font-weight: 600;
        img {
            position: relative;
            top: 42px;
        }
        .add-text {
            position: relative;
            top: 50px;
        }
    }
    .disabled-tile {
        border: 1px solid #f1f1f1;
        background-image: none !important;
        background: #fff;
    }
    .multi-sensor {
        background-image: url('../../assets/svg/connector-devices/multi-sensor-bg.svg');
        background-repeat: none;
        color: #fff;
        border: none;
        .device-icon {
            cursor: none !important;
        }
    }
    .connector-count {
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: 0.3px;
        color: #9da7b6;
        margin-bottom: 16px;
    }
    .device-icon {
        float: left;
        cursor: pointer;
        img {
            margin: 20px 0 0 16px;
        }
    }
    .device-switch {
        float: right;
        cursor: pointer;
        img {
            margin: 10px 10px 0 0;
        }
        span {
            margin: 18px 10px 0 0;
            color: #d0d0d2;
            font-size: 11px;
            font-weight: 700;
            display: block;
        }
    }
    .device-name {
        height: 33px;
        font-size: 13px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.75;
        letter-spacing: 0.07px;
        color: var(--black);
        padding-left: 17px;
        position: absolute;
        bottom: 33px;
    }
    .device-desc {
        height: 33px;
        font-size: 13px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.75;
        letter-spacing: 0.07px;
        color: var(--black);
        padding-left: 17px;
        position: absolute;
        bottom: 12px;
    }
    .device-name-d {
        height: 33px;
        font-size: 13px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.75;
        letter-spacing: 0.07px;
        color: #d0d0d2;
        padding-left: 17px;
        position: absolute;
        bottom: 33px;
    }
    .device-desc-d {
        height: 33px;
        font-size: 13px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.75;
        letter-spacing: 0.07px;
        color: #d0d0d2;
        padding-left: 17px;
        position: absolute;
        bottom: 12px;
    }
}

.list-view {
    .device-group {
        list-style-type: none;
        padding-inline-start: 0px;
    }
    .device-tile {
        width: 328px;
        height: 63px;
        border-radius: 12px;
        border-style: solid;
        border-width: 1px;
        border-image-source: linear-gradient(79deg, #05bdff 4%, #37ff96 134%);
        border-image-slice: 1;
        background-image: linear-gradient(to bottom, #ffffff, #ffffff), linear-gradient(79deg, #05bdff 4%, #37ff96 134%);
        background-origin: border-box;
        background-clip: content-box, border-box;
        position: relative;
        margin-top: 16px;
    }
    .device-tile-add {
        width: 328px;
        height: 63px;
        border-radius: 12px;
        border: 2px dashed #c3c3c3;
        position: relative;
        margin: 16px 16px 0 0;
        text-align: center;
        line-height: 63px;
        font-size: 12px;
        font-weight: 600;
        img {
            display: inline-block;
        }
        .add-text {
            display: inline-block;
            position: relative;
            top: -4px;
            left: 4px;
        }
    }
    .disabled-tile {
        border: 1px solid #f1f1f1;
        background-image: none !important;
        background: #fff;
    }
    .device-icon {
        float: left;
        cursor: pointer;
        img {
            margin: 20px 0 0 16px;
        }
    }
    .device-switch {
        float: right;
        cursor: pointer;
        img {
            margin: 10px 10px 0 0;
        }
        span {
            margin: 18px 10px 0 0;
            color: #d0d0d2;
            font-size: 11px;
            font-weight: 700;
            display: block;
        }
    }
    .device-name {
        height: 33px;
        font-size: 13px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 4;
        letter-spacing: 0.07px;
        color: var(--black);
        padding-left: 53px;
        bottom: 32px;
    }
    .device-desc {
        height: 33px;
        font-size: 13px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.5;
        letter-spacing: 0.07px;
        color: var(--black);
        padding-left: 53px;
        bottom: 11px;
    }
    .device-name-d {
        height: 33px;
        font-size: 13px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 4;
        letter-spacing: 0.07px;
        color: #d0d0d2;
        padding-left: 53px;
        bottom: 32px;
    }
    .device-desc-d {
        height: 33px;
        font-size: 13px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.5;
        letter-spacing: 0.07px;
        color: #d0d0d2;
        padding-left: 53px;
        bottom: 11px;
    }
}